# Entorno virtual
.venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.log
*.pot
*.pyc
*.sqlite3

# Archivos de configuración local
.env

# Archivos y carpetas de Django
db.sqlite3
media/
staticfiles/

# Archivos de IDE
.vscode/
.idea/
*.swp


docker-compose.yml
Dockerfile
