body,
html {
    background-color: #141414;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    height: 100%;
    width: 100%;
    color: #808080;

}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.profiles {
    display: flex;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease;
    cursor: pointer;
}

#title {
    color: #fff;
    font-size: 4em;
    font-weight: normal;
}


a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 11em;
    height: 11em;
    border-radius: 4px;
}

p {
    font-size: 1.5em;
}