body {
    margin: 0;
    background-color: #6b8074;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#root {
    padding: 20px;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 50px;
    padding: 20px;
}

/* PokeCard styles */

.poke-card {
    max-width: 220px;
    min-width: 220px;
    height: auto;
    aspect-ratio: 250 / 350;
    background-color: white;
    border: 4px solid #333;
    border-radius: 12px;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
}

.poke-card-image img {
    max-width: 90%;
    max-height: 180px;
    object-fit: contain;
}

.poke-card-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #222;
    border-bottom: 2px solid #999;
    padding-bottom: 4px;
}

.poke-card-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #999;
}

.poke-card-types {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.type {
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    background-color: #333;
}

.poke-card:hover {
    color: white;
    box-shadow: 1.5em 1.5em 1em rgba(0, 0, 0, 0.4);
    transform: translateY(-0.5em);
}


.season-selector-container {
    margin-bottom: 20px;
}