body {
  margin: 0;
  background-color: #3a49ca;
}


#root {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-do-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px;
  justify-content: center;
}

.to-do-item {
  flex: 0 0 200px;
  min-height: 300px;
  background-color: white;
  border: 4px solid #333;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.to-do-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #222;
  border-bottom: 2px solid #999;
  text-transform: capitalize;
  padding: 0;
}

.to-do-title h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: larger;
}

.to-do-description {
  flex: 1;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #999;
}

.to-do-status {
  display: flex;
  justify-content: end;
  gap: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.status-item {
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  background-color: #333;
}