body {
    margin: 0;
    background-color: #6b8074;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#root {
    display: flex;
}

/* PokeCard styles */

.poke-card {
    width: 250px;
    height: 350px;
    background-color: white;
    border: 4px solid #333;
    border-radius: 12px;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    margin: 20px;

}

.poke-card-image img {
    max-width: 90%;
    max-height: 180px;
    object-fit: contain;
}